body{
    background-color: burlywood;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    color:#fff
}



a{
    text-decoration: none;
    color: rgb(1, 5, 240);

}

#Caixa{
    display: flex;
    flex-direction: column  ;
    text-align: center;
    justify-content: center;
    width: 300px;
    border: 3px #fff solid;
    border-radius: 10px;
    padding-bottom: 3px;
    background-color: rgb(231, 214, 188);
    margin-right: auto;
    margin-left: auto;

}



.material-symbols-outlined {
    font-size: 80px;
    color: aliceblue;
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.inputform{
    width: 250px;
    color:black ;
    background-color:   aliceblue;
    border-radius: 15px;
    padding-left: 7px;
    margin-bottom: 15px;
    height: 40px;
    border: none;
}

#InputEntrar{
    width: 150px;
    color:black ;

    background-color:   aliceblue;
    border-radius: 15px;
    padding-left: 7px;
    margin-bottom: 15px;
    height: 40px;
    border: none;
}

input:focus{
    outline-color: rgb(122, 120, 120);
}

input::placeholder{
    color: #884c4c;
    font-weight: 600px;
}



#InputEntrar:hover{
    box-shadow: 0 4px 10px rgb(129, 125, 125);
    transition: all 0.4s;
    color: black;

}